<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
    
    <import resource="./applicationContext-datasource.xml"/>
    <bean id="sessionFactory"
        class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
        
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQLDialect
                </prop>
                 <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <!--spring开启事务管理，加上下面这句话会出错   
                    Exception in thread "main" org.hibernate.HibernateException: is not valid without active transaction  
                -->  
                <prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate4.SpringSessionContext</prop>
                <prop key="hibernate.jdbc.batch_size">50</prop>
                
                <!-- 开启二级缓存 -->  
      			<prop key="hibernate.cache.use_second_level_cache">true</prop> 
      			<!-- 启动"查询缓存"如果想缓存使用findall()、list()、Iterator()、createCriteria()、createQuery()等方法获得的数据结果集,必须配置此项-->  
      			<prop key="hibernate.cache.use_query_cache">true</prop> 
				<!-- 高速缓存提供程序 -->   
				<!-- 由于spring也使用了Ehcache, 保证双方都使用同一个缓存管理器 -->  
				<prop key="hibernate.cache.region.factory_class">  
				     org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory  
				</prop>    
            </props>
        </property>
        <property name="mappingLocations">
                <value>/WEB-INF/hbm.xml</value><!-- 加载hibernate的映射文件hbm.xml -->
        </property>
    </bean>
    
    <!-- 配置事务管理器bean,使用HibernateTransactionManager事务管理器 -->
	<bean id="transactionManager"
	    class="org.springframework.orm.hibernate4.HibernateTransactionManager">
	        <!-- 为事务管理器注入sessionFactory" -->
	        <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!-- 注解实现事务 -->
	 <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
</beans>